# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\morte\Documents\Dokumentation\1. Semester (Software Udvikling)\1. Test (TST)\Assignments\Week 37 - Lektion 1 & 2\Git\Assignment1_Week37_TDD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
